name: "driver_config"
description: "Runs a wind plant and electrolyzer with simple optimization"

general:
  folder_output: wind_plant_run

driver:
  optimization:
    flag: True
    tol: 0.1
    catol: 10000
    max_iter: 100
    solver: COBYLA
    rhobeg: 30
    debug_print: True

design_variables:
  electrolyzer:
    n_clusters:
      flag: True
      lower: 2.
      upper: 100.
      units: unitless

constraints:
  electrolyzer:
    total_hydrogen_produced:
      flag: True
      lower: 60500000.
      units: kg/year

objective:
  name: financials_group_default.LCOH

recorder:
  flag: True
  file: "wind_h2_opt.sql"
  includes: ["LCOH"]
