name: "technology_config"
description: "This plant has wind feeding into an electrolyzer without optimization"

technologies:
  wind:
    performance_model:
      model: "wind_plant_performance"
    cost_model:
      model: "wind_plant_cost"
    resource:
      type: "pysam_wind"
      wind_speed: 9.
    model_inputs:
      shared_parameters:
        num_turbines: 100
        turbine_rating_kw: 8300
      performance_parameters:
        rotor_diameter: 196.
        hub_height: 130.
        layout_mode: "basicgrid"
        model_name: "pysam"
        model_input_file: null
        layout_params:
          row_D_spacing: 10.
          turbine_D_spacing: 10.
        rating_range_kw: [1000, 5000]
        floris_config: null
        operational_losses: 10.0
        timestep: [1, 60]
        fin_model: "default"
        name: "UtilityScaleWindPlant"
        turbine_name: "2023NREL_Bespoke_8.3MW_196" #turbine model to use
        turbine_group: "onshore"
        override_wind_resource_height: True
        adjust_air_density_for_elevation: True
      cost_parameters:
        cost_per_kw: 1500.0
  doc:
    performance_model:
      model: "direct_ocean_capture_performance"
    cost_model:
      model: "direct_ocean_capture_cost"
    financial_model:
      model: "direct_ocean_capture_finance"
    model_inputs:
      performance_parameters:
        power_single_ed_w: 24000000. # W
        flow_rate_single_ed_m3s: 0.6 # m^3/s
        number_ed_min: 1
        number_ed_max: 10
        E_HCl: 0.05 # kWh/mol
        E_NaOH: 0.05 # kWh/mol
        y_ext: 0.9
        y_pur: 0.2
        y_vac: 0.6
        frac_ed_flow: 0.01
        use_storage_tanks: True
        initial_tank_volume_m3: 0. #m^3
        store_hours: 12. # hours
        sal: 35. # ppt
        temp_C: 25. # degrees Celsius
        dic_i: 0.0022 # mol/L
        pH_i: 8.1 # initial pH

      cost_parameters: # DRAFT NOT REAL ADD REAL COST MODEL
        # total_tank_volume_m3: 10 # m^3
        infrastructure_type: "new"
        # plant_mCC_capacity_mtpy: 1000. # MW
