name: "technology_config"
description: "This hybrid plant produces hydrogen"

technologies:
  wind:
    performance_model:
      model: "pysam_wind_plant_performance"
    cost_model:
      model: "atb_wind_cost"
    model_inputs:
      performance_parameters:
        num_turbines: 100
        turbine_rating_kw: 8300
        rotor_diameter: 196.
        hub_height: 130.
        create_model_from: "default"
        config_name: "WindPowerSingleOwner"
        pysam_options: !include pysam_options_8300MW.yaml
        run_recalculate_power_curve: False
        layout:
          layout_mode: "basicgrid"
          layout_options:
            row_D_spacing: 10.0
            turbine_D_spacing: 10.0
            rotation_angle_deg: 0.0
            row_phase_offset: 0.0
            layout_shape: "square"
      cost_parameters:
        capex_per_kW: 1500.0
        opex_per_kW_per_year: 45
        cost_year: 2019
  electrolyzer:
    performance_model:
      model: "eco_pem_electrolyzer_performance"
    cost_model:
      model: "singlitico_electrolyzer_cost"
    model_inputs:
      shared_parameters:
        location: "onshore"
        electrolyzer_capex: 1295 # $/kW overnight installed capital costs for a 1 MW system in 2022 USD/kW (DOE hydrogen program record 24005 Clean Hydrogen Production Cost Scenarios with PEM Electrolyzer Technology 05/20/24) (https://www.hydrogen.energy.gov/docs/hydrogenprogramlibraries/pdfs/24005-clean-hydrogen-production-cost-pem-electrolyzer.pdf?sfvrsn=8cb10889_1)
      performance_parameters:
        sizing:
          resize_for_enduse: False
          size_for: 'BOL' #'BOL' (generous) or 'EOL' (conservative)
          hydrogen_dmd:
        n_clusters: 18
        cluster_rating_MW: 40
        pem_control_type: 'basic'
        eol_eff_percent_loss: 13 #eol defined as x% change in efficiency from bol
        uptime_hours_until_eol: 80000. #number of 'on' hours until electrolyzer reaches eol
        include_degradation_penalty: True #include degradation
        turndown_ratio: 0.1 #turndown_ratio = minimum_cluster_power/cluster_rating_MW

      financial_parameters:
        capital_items:
          depr_period: 7 # based on PEM Electrolysis H2A Production Case Study Documentation estimate of 7 years. also see https://www.irs.gov/publications/p946#en_US_2020_publink1000107507
          replacement_cost_percent: 0.15 # percent of capex - H2A default case
  h2_storage:
    performance_model:
      model: "h2_storage"
    cost_model:
      model: "h2_storage"
    control_strategy:
      model: "demand_open_loop_storage_controller"
    model_inputs:
      shared_parameters:
        commodity_name: "hydrogen"
      performance_parameters:
        electrolyzer_rating_mw_for_h2_storage_sizing: 720. # electrolyzer rating for sizing
        size_capacity_from_demand:
          flag: False # If True, then storage is sized to provide steady-state storage
        capacity_from_max_on_turbine_storage: False # if True, then days of storage is ignored and storage capacity is based on how much h2 storage fits on the turbines in the plant using Kottenstete 2003.
        type: "lined_rock_cavern" # can be one of ["none", "pipe", "turbine", "pressure_vessel", "salt_cavern", "lined_rock_cavern"]
        days: 10 #how many days worth of production we should be able to store (this is ignored if `capacity_from_max_on_turbine_storage` is set to True)
      control_parameters:
        commodity_units: "kg/h"
        max_capacity: 60000.0  # kg
        max_charge_percent: 1.0  # percent as decimal
        min_charge_percent: 0.1  # percent as decimal
        init_charge_percent: 0.25  # percent as decimal
        max_charge_rate: 10000.0  # kg/time step
        max_discharge_rate: 10000.0  # kg/time step
        charge_efficiency: 1.0 # percent as decimal
        discharge_efficiency: 1.0 # percent as decimal
        demand_profile: 5000 # constant demand of 5000 kg per hour (see commodity_units)
