name: "plant_config"
description: "This plant is located in Texas"

site:
  latitude: 32.34
  longitude: -98.27
  elevation_m: 440.0
  time_zone: -6

  # array of polygons defining boundaries with x/y coords
  boundaries: [
    {
      x: [0.0, 1000.0, 1000.0, 0.0],
      y: [0.0, 0.0, 100.0, 1000.0],
    },
    {
      x: [2000.0, 2500.0, 2000.0],
      y: [2000.0, 2000.0, 2500.0],
    }
  ]

# array of arrays containing left-to-right technology
# interconnections; can support bidirectional connections
# with the reverse definition.
# in this example the natural gas combined cycle plant is behind-the-meter
# and not connected to additional technologies.
# hence the empty array.
technology_interconnections: [
    ["ng_feedstock", "natural_gas_plant", "natural_gas", "ng_pipe"],
]

plant:
  plant_life: 30
  grid_connection: False # option, can be turned on or off
  ppa_price: 0.027498168 # based off correlations of LBNL PPA data
  hybrid_electricity_estimated_cf: 0.492 #should equal 1 if grid_connection = True
  simulation:
    n_timesteps: 8760

finance_parameters:
  finance_model: "ProFastComp"
  model_inputs:
    params:
      analysis_start_year: 2032
      installation_time: 36
      inflation_rate: 0.0
      discount_rate: 0.09
      debt_equity_ratio: 2.62
      property_tax_and_insurance: 0.02
      total_income_tax_rate: 0.308
      capital_gains_tax_rate: 0.15
      sales_tax_rate: 0.07375
      debt_interest_rate: 0.07
      debt_type: "Revolving debt"
      loan_period_if_used: 0
      cash_onhand_months: 1
      admin_expense: 0.00
    capital_items:
        depr_type: "MACRS"
        depr_period: 7
        refurb: [0.]
  wind:
    expected_plant_cost: 'none'
  cost_adjustment_parameters:
    cost_year_adjustment_inflation: 0.025
    target_dollar_year: 2025
