name: "technology_config"
description: "This hybrid plant produces methanol"

technologies:
  hopp:
    performance_model:
      model: "hopp"
      config: !include tech_inputs/hopp_config.yaml
    cost_model:
      model: "hopp"
    financial_model:
      group: "1"
    electrolyzer_rating: 300. # MW
    model_inputs:
      cost_parameters:
        cost_year: 2019
  electricity_splitter:
    performance_model:
      model: "splitter_performance"
      config:
        split_mode: "fraction"
        fraction_to_priority_tech: 0.9
  electrolyzer:
    performance_model:
      model: "eco_pem_electrolyzer_performance"
    cost_model:
      model: "singlitico_electrolyzer_cost"
    financial_model:
      group: "1"
    model_inputs:
      shared_parameters:
        location: "onshore"
        electrolyzer_capex: 1295 # $/kW overnight installed capital costs for a 1 MW system in 2022 USD/kW (DOE hydrogen program record 24005	Clean Hydrogen Production Cost Scenarios with PEM Electrolyzer Technology 05/20/24) (https://www.hydrogen.energy.gov/docs/hydrogenprogramlibraries/pdfs/24005-clean-hydrogen-production-cost-pem-electrolyzer.pdf?sfvrsn=8cb10889_1)
      performance_parameters:
        sizing:
          resize_for_enduse: False
          size_for: 'BOL' #'BOL' (generous) or 'EOL' (conservative)
          hydrogen_dmd:
        n_clusters: 8
        cluster_rating_MW: 37.5
        pem_control_type: 'basic'
        eol_eff_percent_loss: 10 #eol defined as x% change in efficiency from bol
        uptime_hours_until_eol: 80000 #number of 'on' hours until electrolyzer reaches eol
        include_degradation_penalty: True #include degradation
        turndown_ratio: 0.1 #turndown_ratio = minimum_cluster_power/cluster_rating_MW
      financial_parameters:
        capital_items:
          depr_period: 7 # based on PEM Electrolysis H2A Production Case Study Documentation estimate of 7 years. also see https://www.irs.gov/publications/p946#en_US_2020_publink1000107507
          replacement_cost_percent: 0.15 # percent of capex - H2A default case
  h2_storage:
    performance_model:
      model: "h2_storage"
    control_strategy:
      model: "demand_open_loop_controller"
    cost_model:
      model: "h2_storage"
    financial_model:
      group: default
    model_inputs:
      performance_parameters:
        rating: 300.
        size_capacity_from_demand:
          flag: True # If True, then storage is sized to provide steady-state storage
        capacity_from_max_on_turbine_storage: False # if True, then days of storage is ignored and storage capacity is based on how much h2 storage fits on the turbines in the plant using Kottenstete 2003.
        type: "lined_rock_cavern" # can be one of ["none", "pipe", "turbine", "pressure_vessel", "salt_cavern", "lined_rock_cavern"]
        days: 0 #how many days worth of production we should be able to store (this is ignored if `capacity_from_max_on_turbine_storage` is set to True)
      control_parameters:
        resource_name: "hydrogen"
        resource_rate_units: "kg/h"
        max_capacity: 300000.0  # kg
        max_charge_percent: 1.0  # percent as decimal
        min_charge_percent: 0.1  # percent as decimal
        init_charge_percent: 0.25  # percent as decimal
        max_charge_rate: 10000.0  # kg/time step
        max_discharge_rate: 10000.0  # kg/time step
        charge_efficiency: 1.0 # percent as decimal
        discharge_efficiency: 1.0 # percent as decimal
        demand_profile: 2226.0274  # Example: 10 time steps with 5000 kg/time step demand. Scalar indicates constant demand, array-like indicates dynamic demand
  # wind:
  #   performance_model:
  #     model: "wind_plant_performance"
  #   cost_model:
  #     model: "wind_plant_cost"
  #   financial_model:
  #     group: "1"
  #   model_inputs:
  #     shared_parameters:
  #       num_turbines: 66
  #       turbine_rating_kw: 15000
  #     performance_parameters:
  #       rotor_diameter: 196.
  #       hub_height: 130.
  #       layout_mode: "basicgrid"
  #       model_name: "pysam"
  #       model_input_file: null
  #       layout_params:
  #         row_D_spacing: 10.
  #         turbine_D_spacing: 10.
  #       rating_range_kw: [1000, 5000]
  #       floris_config: null
  #       operational_losses: 10.0
  #       timestep: [1, 60]
  #       fin_model: "default"
  #       name: "UtilityScaleWindPlant"
  #       turbine_name: "2023NREL_Bespoke_8.3MW_196" #turbine model to use
  #       turbine_group: "onshore"
  #       override_wind_resource_height: True
  #       adjust_air_density_for_elevation: True
  #     cost_parameters:
  #       cost_per_kw: 1500.0
  #       cost_year: 2019
  doc:
    performance_model:
      model: "direct_ocean_capture_performance"
    cost_model:
      model: "direct_ocean_capture_cost"
    financial_model:
      group: "1"
    model_inputs:
      shared_parameters:
        power_single_ed_w: 3000000.0  # W
        flow_rate_single_ed_m3s: 0.6  # m^3/s
        number_ed_min: 1
        number_ed_max: 10
        E_HCl: 0.05  # kWh/mol
        E_NaOH: 0.05  # kWh/mol
        y_ext: 0.9
        y_pur: 0.2
        y_vac: 0.6
        frac_ed_flow: 0.01
        use_storage_tanks: True
        initial_tank_volume_m3: 0.0  # m^3
        store_hours: 12.0  # hours
        sal: 33.0  # ppt
        temp_C: 12.0  # degrees Celsius
        dic_i: 0.0022  # mol/L
        pH_i: 8.1  # initial pH
      cost_parameters:
        infrastructure_type: "desal"
  methanol:
    performance_model:
      model: "co2h_methanol_plant_performance"
    cost_model:
      model: "co2h_methanol_plant_cost"
    financial_model:
      group: "1"
    model_inputs:
      shared_parameters:
        plant_capacity_kgpy: 100000000
        plant_capacity_flow: "methanol"
      performance_parameters:
        capacity_factor: 0.9
        co2e_emit_ratio: 0.020296
        h2o_consume_ratio: 0.988
        h2_consume_ratio: 0.195
        co2_consume_ratio: 1.423
        elec_consume_ratio: 0.09466667
        meoh_syn_cat_consume_ratio: 0.00000128398
        ng_consume_ratio: 0.073511601
      cost_parameters:
        ng_lhv: 47.1
        toc_kg_y: 1.0633873
        foc_kg_y2: 0.020743864
        voc_kg: 0.00079
        meoh_syn_cat_price: 615.274273
        ng_price: 4.0
        co2_price: 0.0549007
        cost_year: 2020
